body{
    background-image: url(images/fondo_mosaico.png);
    background-repeat: repeat;
}

.container{
    background-color: white;
    align-content: center;
}

.bordeado-derecho > img{
    padding-bottom: 0px;
}

hr{
    margin-right: 30px;
    margin-left: 30px;
    border-color: black;
    border-width: 3px;
}

.targeta{
    background: none;
}

.targeta_primerlugar{
    background: gold;
}

.targeta_segundolugar{
    background: silver;
}

.targeta_tercerlugar{
    background: #cd7f32;
}

.targeta, .targeta_tercerlugar, .targeta_segundolugar, .targeta_primerlugar{
    border-style: solid;
    border-width: 2px;
    width: 260px;
    height: 260px;
}

.targeta > img, .targeta_primerlugar > img, .targeta_segundolugar > img, .targeta_tercerlugar > img{
    width: 240px;
    height: 165px;
    padding-top: 10px;
}


/*link*/
a:link, a:visited{
    text-decoration: none;
    color: black;

}

a > li{
    text-decoration: none;
    color: black;

}

.recetarion_return{
    width: 350px;
    height: 120px;   
}

.menu{
    border-right-style: solid;
    border-right: 3px;
}

.targeta_menu{
    width: 200px;
    height: 30px;
    background: none;
}


.ingredientes > div{
    background: none;
    padding: 30px 0 30px 0;
}

.pasos{
    margin-right: 50px;
    margin-left: 50px;
    background: none;
}

h1{
    margin-left: 8%;
}

h2{
    margin-left: 10%;
}

.img_miniatura{
    height: 50px;
}

.great_img{
    padding-top: 300px;
    padding-bottom: 300px;
    width: 900px;
}

    .targeta_completa{
        width: 100%;
        height: 100%;
        background: none;
        border: solid;
        border-width: 2px;
    }

    .targeta_image{
        width: 230px;
        height: 230px;
        padding-top: 10px;
        
    }

@media screen and (min-width: 992px){
    .targeta_completa{
        width: 100%;
        height: 250px;
        background: none;
        border: solid;
        border-width: 2px;
    }
}